/* 清除樣式 */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    transition: all .21s ease;
}

a {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

ul {
    list-style: none;
}

button,
input,
select,
textarea {
    outline: none;
    border: none;
}

/* 變量 */
:root {

    --size-loading: 2.6rem;
    --biggest-font: 1.4rem;
    --bigger-font: 1.2rem;
    --big-font: 1rem;
    --normal-font: .8rem;
    --small-font: .6rem;
    --smaller-font: .4rem;
    --smallest-font: .2rem;

    --font-color-link-light: black;
    --font-color-link-light-hover: #001e60;

    --color-gradient-primary: #00143e;
    --color-gradient-second: #001e60;
}

:root[theme='dark'] {
    --font-color-link-light: white;
    --font-color-link-light-hover: #b3cdff;

    --color-gradient-primary: #e9f0ff;
    --color-gradient-second: #cfdeff;
}

@media screen and (max-width: 960px) {
    :root{
        --size-loading: 2.3rem;
        --biggest-font: 1.2rem;
        --bigger-font: 1rem;
        --big-font: .9rem;
        --normal-font: .7rem;
        --small-font: .5rem;
        --smaller-font: .3rem;
        --smallest-font: .1rem;
    }
}

@media screen and (max-width: 683px) {
    :root{
        --size-loading: 1rem;
        --biggest-font: 1.2rem;
        --bigger-font: 1rem;
        --big-font: .9rem;
        --normal-font: .7rem;
        --small-font: .5rem;
        --smaller-font: .3rem;
        --smallest-font: .1rem;
    }

}

/* 自定義類 */
.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

/* debug */

:root[theme='dark'] body {
    background-color: #000c25;
}

/* 樣式設定 */

.navbar {
    /* position: sticky; */
    height: 8vh;
    padding: 0 2rem;
    background: #fcfcfc;
    justify-content: space-between;
    align-items: center;
    width: inherit;
}

:root[theme='dark'] .navbar {
    background: #00133c;
}

.navbar .logo {
    content: url('resource/light-logo.svg');
    height: 4vh;
    width: auto;
}

:root[theme='dark'] .navbar .logo {
    content: url('resource/dark-logo.svg');
}

.navbar .navbar-links,
.navbar .user-links {
    column-gap: 2vw;
    font-size: var(--big-font);
}
.navbar .navbar-link,
.navbar .user-link {
    padding: .4rem .8rem;
    background-image: linear-gradient(45deg, var(--color-gradient-primary), var(--color-gradient-second));
    background-size: 0 3px;
    background-position: center bottom;
    background-repeat: no-repeat;
    color: var(--font-color-link-light);
    transition: all .1s ease-in-out;
}

.navbar .navbar-link:hover,
.navbar .user-link:hover {
    background-size: 100% 3px;
    color: var(--font-color-link-light-hover);
}

.button-theme{
    padding: 0 1vw 0 3vw;
    display: flex;
    justify-content: end;
    align-items: center;
    cursor: pointer;
    color: var(--font-color-link-light);
    width: 16px;
}
.button-theme  > i::before{
    content: '\f186';
}

.button-menu{
    display: none;
    color: var(--font-color-link-light);
}

:root[theme='dark'] .button-theme > i::before {
    content: '\f185';
}
.menu{
    background-color: transparent;
}
@media screen and (max-width: 960px) {
    .button-theme{
        position: absolute;
        top: 2rem;
        right: 5rem;
    }
    .navbar-links, .user-links{
        background-color: #fcfcfc;
    }
    :root[theme='dark'] .navbar-links, :root[theme='dark'] .user-links{
        background-color: #00133c;
    }
    .navbar{
        padding: 1rem 0;
        justify-content: start;
        align-items: center;
        flex-direction: column;
    }
    .navbar-links{
        padding: .6rem 0;
        width: 100%;
        row-gap: 1.2rem;
    }
    .user-links{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: .6rem 0;
        width: 100%;
        row-gap: 1.2rem;
    }
    .navbar-link:hover, .user-links:hover{
        color: #e9f0ff;
    }
    .menu{
        width: 100%;
    }
    .navbar.open .fa.fa-bars{
        display: none;
    }
    .fa.fa-close, .button-theme{
        position: absolute;
        top: -14rem;
    }
    .navbar-links, .menu{
        position: relative;
        left: -100%;
        display: flex;
        flex-direction: column;
        transition: all .2s ease-in-out;
    }
    .navbar.open .navbar-links,.navbar.open .menu{
        left: 0;
    }
    .button-menu{
        display: block;
        position: absolute;
        top: 1.8rem;
        right: 2rem;
    }
}
/* loader */
#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 99;
}

.animation-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.animation-letter {
    padding: 0 3rem;
    font-size: var(--size-loading);
}

.animation-letter.active {
    animation-name: scale-up-down;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.dots {
    font-size: var(--size-loading);
    row-gap: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 960px) {
    .user-links {
        padding: 0 1.2rem;
    }
    .animation-letter {
        padding: 0 1.6rem;
    }
}
@media screen and (max-width: 683px) {
    .user-links {
        padding: 0 1rem;
    }
    .animation-letter {
        padding: 0 1.2rem;
    }
}

@keyframes scale-up-down {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.8);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes dot-animation {
    0% {
        content: ".";
    }

    33% {
        content: "..";
    }

    66% {
        content: "...";
    }
}

.dots::after {
    content: ".";
    animation: dot-animation 1.5s infinite;
}